@import "tailwindcss";
@plugin "daisyui"{
    themes: light --default
};

.title-gradient-t2b{
    background: linear-gradient(180deg, #632ee3 0%, #9f62f2 100%);
    background-clip: text;
    color: transparent;
}

.general-gradient-l2r{
    background: linear-gradient(90deg, #632ee3 0%, #9f62f2 100%);
}
.home-background{
    background: #FFE6FD;
    background: linear-gradient(90deg, #FFE6FD, #E0F8F5);
}